app-content {
  @apply bg-cloud;
  @apply p-4;
  @apply overflow-auto;

  height: calc(100vh - 3.5rem);
  grid-area: content;
}

app-content::after {
  @apply block h-4;

  content: '';
}

@screen lg {
  app-content {
    @apply p-6;
  }

  app-content::after {
    @apply h-6;
  }
}
