<template>
  <require from="./data-request.route.css"></require>

  <card class="article-card">
    <markdown>
      # Data Request
    
      You can also pass data received from requests (http for example). There is no need to bind extra things to the component.
    </markdown>
  </card>

  <card>
    <tabs>
      <tab header="Result">
        <div class="loading-indicator" if.bind="isLoadingGitlabProjects">
          Loading data...
        </div>

        <smart-table data.bind="gitlabProjects">
          <table-column>
            <table-header-cell>Avatar URL</table-header-cell>
            <table-cell>
              <img class="avatar" src.bind="element.avatar_url" alt.bind="`${element.name}'s avatar`">
            </table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Name</table-header-cell>
            <table-cell>${element.name}</table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Description</table-header-cell>
            <table-cell>${element.description}</table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Tags</table-header-cell>
            <table-cell>
              <span repeat.for="tag of element.tag_list">${tag}</span>
            </table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Forks count</table-header-cell>
            <table-cell title="Forks count">
              <span class="custom-cell">
                <i class="material-icons">merge_type</i> ${element.forks_count}
              </span>
            </table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Star Count</table-header-cell>
            <table-cell title="Star count">
              <span class="custom-cell">
                <i class="material-icons">star</i> ${element.star_count}
              </span>
            </table-cell>
          </table-column>
          <table-column>
            <table-header-cell>Actions</table-header-cell>
            <table-cell class="actions">
              <a class="actions__link" href.bind="element.web_url" title="Go to the repo">
                <i class="material-icons">link</i>
              </a>
            </table-cell>
          </table-column>

          <table-header-row></table-header-row>
          <table-row></table-row>
        </smart-table>
      </tab>
      <tab header="Service">
        <markdown>
          ```typescript
          import { GitlabProject } from "./gitlab-project.model";

          export class GitlabProjectsService {

            private url: URL = new URL('https://gitlab.com/api/v4/projects');

            public async getProjects(): Promise&lt;Array&lt;GitlabProject&gt;&gt; {
              const response: Response = await fetch(this.url.toString());
              const users: Array&lt;GitlabUser&gt; = await response.json();

              return users;
            }
          }
          ```
        </markdown>
      </tab>
      <tab header="Component">
        <markdown>
          ```typescript
          import { autoinject } from "aurelia-framework";
          import { GitlabProject } from "../gitlab-projects/gitlab-project.model";
          import { GitlabProjectsService } from "../gitlab-projects/gitlab-projects.service";

          @autoinject
          export class DataRequestRoute {

            public gitlabProjects: Array&lt;GitlabProject&gt;;
            public isLoadingGitlabProjects: boolean;

            constructor(
              private gitlabProjectsService: GitlabProjectsService
            ) {}

            async attached() {
              this.getProjects();
            }

            private async getProjects(): Promise&lt;void&gt; {
              this.isLoadingGitlabProjects = true;
              this.gitlabProjects = await this.gitlabProjectsService.getProjects();
              this.isLoadingGitlabProjects = false;
            }
          }
          ```
        </markdown>
      </tab>
      <tab header="View">
        <markdown>
          ```html
          <div class="loading-indicator" if.bind="isLoadingGitlabProjects">
            Loading data...
          </div>

          <smart-table data.bind="gitlabProjects">
            <table-column>
              <table-header-cell>Avatar URL</table-header-cell>
              <table-cell>
                <img class="avatar" src.bind="element.avatar_url" alt.bind="`${element.name}&#39;s avatar`">
              </table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Name</table-header-cell>
              <table-cell>${element.name}</table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Description</table-header-cell>
              <table-cell>${element.description}</table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Tags</table-header-cell>
              <table-cell>
                <span repeat.for="tag of element.tag_list">${tag}</span>
              </table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Forks count</table-header-cell>
              <table-cell>
                <span class="custom-cell">
                  <i class="material-icons">merge_type</i> ${element.forks_count}
                </span>
              </table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Star Count</table-header-cell>
              <table-cell>
                <span class="custom-cell">
                  <i class="material-icons">star</i> ${element.star_count}
                </span>

              </table-cell>
            </table-column>
            <table-column>
              <table-header-cell>Actions</table-header-cell>
              <table-cell class="actions">
                <a class="actions__link" href.bind="element.web_url">
                  <i class="material-icons">link</i>
                </a>
              </table-cell>
            </table-column>

            <table-header-row></table-header-row>
            <table-row></table-row>
          </smart-table>
          ```
        </markdown>
      </tab>
    </tabs>
  </card>
</template>
