.loading-indicator ~ smart-table table {
  @apply mb-8;
}

.loading-indicator {
  position: relative;
  top: 64px;
  font-weight: 900;
}

.avatar {
  max-width: 64px;
  max-height: 64px;
  width: 64px;
  height: auto;
}

.custom-cell {
  @apply flex items-end;
}
