<template>
  <card class="article-card">
    <markdown>
      # Aurelia Smart Table

      A simple plugin that makes easy to work with table.

      ## Installation

      Use `npm` or `yarn` to install `aurelia-smart-table`.

      ```bash
      npm i aurelia-smart-table
      ```
      or
      ```bash
      yarn add aurelia-smart-table
      ```

      ## Usage

      Import the plugin in your application.

      ```typescript
      aurelia.use.plugin('aurelia-smart-table');
      ```

      Then use it like that:

      ```html
      <smart-table data.bind="[ourData]">
        <!-- Repeat for each columns -->
        <table-column>
          <table-header-cell [attributes]>[columnTitle]</table-header-cell>
          <table-cell [attributes]>
            <!-- Apply treatment to the data element -->
            ${element}
          </table-cell>
        </table-column>

        <table-header-row [attributes]></table-header-row>
        <table-row [attributes]></table-row>
      </smart-table>
      ```

      ## License

      [MIT](https://choosealicense.com/licenses/mit/)
    </markdown>
  </card>
</template>
