<template>
  <card class="article-card">
    <markdown>
      # Selection

      You can manage item selection with aurelia binding system. No need to depends on our own implementation.

      ## Add item selection

      Simply add an array to store selected items in your component class:

      ```typescript
      type MyDataObject = {
        id: number;
        name: string; 
      }

      export class MyComponent {
        myData: Array&lt;MyDataObject&gt; = new Array&lt;MyDataObject&gt;();
        selectedIds: Array&lt;number&gt;;
        
        // Insert your component logic
      }
      ```

      And use it in your view:

      ```html
      <table-cell>
        <input 
          type="checkbox"
          model.bind="element.id"
          checked.bind="selectedIds">
      </table-cell>
      ```

      ## Add select/unselect all

      Here is the most difficult part. You need to implement your logic for select and unselect all in the component:

      ```typescript
      private get isAllSelected(): boolean {
        const selectedRowCount: number = this.selectedIds.length;
        const rowCount: number = this.myData.length;
    
        return selectedRowCount === rowCount;
      }

      private handleClickOnMasterCheckbox(): void {
        if (this.isAllSelected) {
          this.selectedIds = new Array&lt;number&gt;();
          return;
        }
    
        this.myData.forEach(data => {
          if (this.isSelected(data.id)) {
            return;
          }
    
          this.selectedIds.push(data.id);
        });
      }

      private isSelected(id: number): boolean {
        return this.selectedIds.includes(id);
      }
      ```

      Now, you can use it in the view:

      ```html
      <table-header-cell>
        <input 
          type="checkbox" 
          click.delegate="handleClickOnMasterCheckbox()" 
          checked.two-way="isAllSelected"
          indeterminate.bind="selectedIds.length > 0 && !isAllSelected"/>
      </table-header-cell>
      ```
    </markdown>
  </card>

  <card>
    <tabs>
      <tab header="Result">
        <smart-table data.bind="gitlabProjects">
          <table-column>
            <table-header-cell>
              <input 
                type="checkbox" 
                click.delegate="handleClickOnMasterCheckbox()" 
                checked.two-way="isAllSelected"
                indeterminate.bind="selection.length > 0 && !isAllSelected"/>
            </table-header-cell>
            <table-cell>
              <input
                type="checkbox"
                model.bind="element.id"
                checked.bind="selection"/>
            </table-cell>
          </table-column>

          <table-column>
            <table-header-cell>Name</table-header-cell>
            <table-cell>${element.name}</table-cell>
          </table-column>

          <table-header-row></table-header-row>
          <table-row></table-row>
        </smart-table>
      </tab>
      <tab header="Component">
        <markdown>
          ```typescript
          import { autoinject } from 'aurelia-framework';
          import { GitlabProject } from '../gitlab-projects/gitlab-project.model';
          import { GitlabProjectsMockService } from '../gitlab-projects/gitlab-projects-mock.service';

          @autoinject
          export class SelectionRoute {
            public gitlabProjects: Array&lt;GitlabProject&gt; = new Array&lt;GitlabProject&gt;();
            private selection: Array&lt;number&gt; = new Array&lt;number&gt;();

            constructor(private gitlabProjectsService: GitlabProjectsMockService) {}

            public async attached(): Promise&lt;void&gt; {
              this.gitlabProjects = await this.gitlabProjectsService.getProjects();
            }

            private get isAllSelected(): boolean {
              const selectedRowCount: number = this.selection.length;
              const rowCount: number = this.gitlabProjects.length;

              return selectedRowCount === rowCount;
            }

            private handleClickOnMasterCheckbox(): void {
              if (this.isAllSelected) {
                this.selection = new Array&lt;number&gt;();
                return;
              }

              this.gitlabProjects.forEach({ id } => {
                if (this.isSelected(id)) {
                  return;
                }

                this.selection.push(id);
              });
            }

            private isSelected(id: number): boolean {
              return this.selection.includes(id);
            }
          }
          ```
        </markdown>
      </tab>
      <tab header="View">
        <markdown>
          ```html
          <smart-table data.bind="gitlabProjects">
            <table-column>
              <table-header-cell>
                <input 
                  type="checkbox" 
                  click.delegate="handleClickOnMasterCheckbox()" 
                  checked.two-way="isAllSelected"
                  indeterminate.bind="selection.length > 0 && !isAllSelected"/>
              </table-header-cell>
              <table-cell>
                <input
                  type="checkbox"
                  model.bind="element.id"
                  checked.bind="selection"/>
              </table-cell>
            </table-column>

            <table-column>
              <table-header-cell>Name</table-header-cell>
              <table-cell>${element.name}</table-cell>
            </table-column>

            <table-header-row></table-header-row>
            <table-row></table-row>
          </smart-table>
          ```
        </markdown>
      </tab>
    </tabs>
  </card>
</template>
