<template>
  <card>
    <tabs>
      <tab header="Result">
        <smart-table data.bind="gitlabProjects">
          <table-column>
            <table-header-cell>Name</table-header-cell>
            <table-cell>${element.name}</table-cell>
          </table-column>

          <table-column>
            <table-header-cell>Link</table-header-cell>
            <table-cell>
              <a href.bind="element.web_url" class="link">
                <i class="material-icons">link</i>
              </a>
            </table-cell>
          </table-column>

          <table-header-row></table-header-row>
          <table-row></table-row>
        </smart-table>
      </tab>
      <tab header="Component">
        <markdown>
          ```typescript
          import { GitlabProject } from '../gitlab-projects/gitlab-project.model';
          import { autoinject } from 'aurelia-framework';

          @autoinject()
          export class MyTable {
            public gitlabProjects: Array&lt;GitlabProject&gt; = new Array&lt;GitlabProject&gt;();

            constructor(private gitlabProjectsService: GitlabProjectsMockService) {}

            public async attached(): Promise&lt;void&gt; {
              this.gitlabProjects = await this.gitlabProjectsService.getProjects();
            }
          }
          ```
          </markdown>
      </tab>
      <tab header="View">
        <markdown>
          ```html
          <smart-table data.bind="gitlabProjects">
            <table-column>
              <table-header-cell>Name</table-header-cell>
              <table-cell>${element.name}</table-cell>
            </table-column>
  
            <table-column>
              <table-header-cell>Link</table-header-cell>
              <table-cell>
                <a href.bind="element.web_url" class="link">
                  <i class="material-icons">link</i>
                </a>
              </table-cell>
            </table-column>
  
            <table-header-row></table-header-row>
            <table-row></table-row>
          </smart-table>
          ```
        </markdown>
      </tab>
    </tabs>
  </card>
</template>
