<template>
  <card class="article-card">
    <markdown>
      # Theming

      Smart Table allows you to apply css classes on each part of the table: cells, rows, table and tbody.

      ## Applying classes to cells

      Cells classes can be set on the cells declaration.

      ```html
      <table-header-cell class="custom-header-cell">Cell content</table-header-cell>
      <table-cell class="custom-cell">Cell content</table-cell>
      ```

      ## Applying classes to rows

      Rows classes can be set on the rows declaration.

      ```html
      <table-header-row class="custom-header-row"></table-header-row>
      <table-row class="custom-row"></table-row>
      ```

      ## Applying classes to table and tbody

      Table and tbody classes can be set by bindind then in the smart-table component.

      ```html
      <smart-table table-classes="custom-table" body-classes="custom-table-body">
        <!-- Insert content here -->
      </smart-table>
      ```
    </markdown>
  </card>

  <card>
    <h2 class="px-6 py-4">Example: Material Design Component</h1>
    <tabs>
      <tab header="Result">
        <material-table data.bind="gitlabProjects" class="flex"></material-table>
      </tab>
      <tab header="Component">
        <markdown>
          ```typescript
          import { MDCDataTable } from '@material/data-table';
          import { autoinject, bindable, useShadowDOM } from 'aurelia-framework';

          @autoinject
          @useShadowDOM
          export class MaterialTable {
            @bindable public data: Array&lt;any&gt;;
            public table: Element;

            private dataTable: MDCDataTable;

            public attached() {
              this.dataTable = new MDCDataTable(this.table);
            }
          }
          ```
        </markdown>
      </tab>
      <tab header="Style">
        <markdown>
          ```scss
          @use "@material/data-table/data-table";

          @include data-table.core-styles;
          @include data-table.theme-baseline;
          ```
        </markdown>
      </tab>
      <tab header="View">
        <markdown>
          ```html
          <template>
              <require from="./material-data-table.component.css"></require>
      
              <smart-table
                  data.bind="data"  
                  class="mdc-data-table"  
                  table-classes="mdc-data-table__table"  
                  body-classes="mdc-data-table__content"  
                  element.ref="table">
              
                  <table-column>
                      <table-header-cell 
                          class="mdc-data-table__header-cell">
                          Name
                      </table-header-cell>
                      <table-cell 
                          class="mdc-data-table__cell">
                          ${element.name}
                      </table-cell>
                  </table-column>
                  
                  <table-header-row 
                      class="mdc-data-table__header-row">
                  </table-header-row>
                  <table-row 
                      class="mdc-data-table__row">
                  </table-row>
              </smart-table>
          </template>
          ```
        </markdown>
      </tab>
      
    </tabs>
  </card>
</template>
