navigation-link {
  @apply flex flex-row;
}

navigation-link:hover {
  background-color: #0000000a;
}

navigation-link:active {
  background-color: #0000001f;
}

navigation-link.navigation-link--active {
  background-color: #9b59b61f;
}

navigation-link > a {
  @apply flex flex-row items-center;
  @apply w-full h-12 p-4 pl-6 pr-6;
  @apply text-base text-wet-asphalt font-sans no-underline;
}

navigation-link.navigation-link--active > a {
  @apply text-amethyst;
}

.navigation-link__title {
  @apply pl-5;
}
