<template class.bind="isActive ? 'navigation-link--active' : ''">
  <require from="./navigation-link.component.css"></require>

  <a route-href.bind="route.name">
    <i class="material-icons">${ route.settings.icon }</i>

    <span class="navigation-link__title">
      ${route.title}
    </span>
  </a>
</template>
