<template>
  <require from="./material-table.component.css" as="scoped"></require>

  <smart-table 
    data.bind="data"
    class="mdc-data-table"
    table-classes="mdc-data-table__table"
    body-classes="mdc-data-table__content"
    element.ref="table">

    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Avatar URL</table-header-cell>
      <table-cell class="mdc-data-table__cell">
        <img class="avatar" src.bind="element.avatar_url" alt.bind="`${element.name}' avatar`">
      </table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Name</table-header-cell>
      <table-cell class="mdc-data-table__cell">${element.name}</table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Description</table-header-cell>
      <table-cell class="mdc-data-table__cell">${element.description}</table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Tags</table-header-cell>
      <table-cell class="mdc-data-table__cell">
        <span repeat.for="tag of element.tag_list">${tag}</span>
      </table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Forks count</table-header-cell>
      <table-cell class="mdc-data-table__cell" title="Forks count">
        <span class="custom-cell">
          <i class="material-icons">merge_type</i> ${element.forks_count}
        </span>
      </table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Star Count</table-header-cell>
      <table-cell class="mdc-data-table__cell" title="Star count">
        <span class="custom-cell">
          <i class="material-icons">star</i> ${element.star_count}
        </span>
      </table-cell>
    </table-column>
    <table-column>
      <table-header-cell class="mdc-data-table__header-cell">Actions</table-header-cell>
      <table-cell class="mdc-data-table__cell actions">
        <a class="actions__link" href.bind="element.web_url" title="Go to the repo">
          <i class="material-icons">link</i>
        </a>
      </table-cell>
    </table-column>

    <table-header-row class="mdc-data-table__header-row"></table-header-row>
    <table-row class="mdc-data-table__row"></table-row>
  </smart-table>
</template>
