@use '@material/data-table/data-table';
@import 'material-design-icons/iconfont/material-icons.css';

@include data-table.core-styles;
@include data-table.theme-baseline;

.avatar {
  max-width: 36px;
  min-height: 36px;
  width: 36px;
  height: auto;
}

.actions__link {
  @apply no-underline p-3 rounded-full text-center w-6 h-6 text-xl flex items-center;

  color: inherit;
}

.actions__link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.actions__link:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-cell {
  @apply flex items-end;
}
