<template>
  <require from="./app-bar.component.css"></require>
 
  <span class="app-bar__left">
    <button 
      click.delegate="toggleMenu()" 
      class="xl:hidden"
      title.bind="isMenuOpened ? 'Close the drawer' : 'Open the drawer'">
      <i class="material-icons">
        ${ isMenuOpened ? 'close' : 'menu'}
      </i>
    </button>
  
    <span>
      ${ title }
    </span>
  </span>

  <span class="app-bar__right">
    <a href="https://gitlab.com/Shauni/aurelia-smart-table/" title="Access to the gitlab repository">
      <svg id="logo_art" data-name="logo art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M461.48,298.35,443.7,243.72a7.72,7.72,0,0,0-.43-1.47L407.6,132.45a14.18,14.18,0,0,0-13.54-9.67,13.94,13.94,0,0,0-13.38,9.75l-34,104.63H239.37L205.32,132.53A13.94,13.94,0,0,0,192,122.78h-.08a14.22,14.22,0,0,0-13.5,9.76L142.72,242.47c0,.1-.08.18-.11.28l-18.1,55.61a20.29,20.29,0,0,0,7.37,22.71L288.26,434.7a8,8,0,0,0,9.45-.05l0,0L454.12,321.07A20.28,20.28,0,0,0,461.48,298.35ZM227.73,253.22l43.59,134.16L166.68,253.22Zm87,134.19,41.8-128.62,1.8-5.57h61.1L324.76,374.5Zm79.47-244.58,30.63,94.33H363.52ZM341.49,253.16l-30.37,93.46L293,402.28,244.58,253.16ZM191.85,142.83l30.69,94.33H161.27Zm-50.56,165.3a4.31,4.31,0,0,1-1.56-4.83L153.17,262l98.57,126.37Zm303.43,0L334.26,388.34l.37-.48L432.83,262l13.44,41.28A4.31,4.31,0,0,1,444.72,308.12Z"/></svg>
    </a>
  </span>
</template>
