app-bar {
  @apply bg-amethyst text-cloud;
  @apply p-4 flex;

  height: 3.5rem;

  grid-area: header;
}

.app-bar__left {
  @apply flex flex-row flex-grow;
}

.app-bar__left > *:not(:first-child) {
  @apply pl-2;
}

.app-bar__right {
  @apply flex-grow-0;
}

#logo_art {
  @apply h-6;
}
