app-drawer {
  @apply h-screen p-0 w-0;
  @apply absolute z-20;
  @apply bg-white border-0 border-solid border-gray-400;

  left: -16rem;

  grid-area: drawer;

  transition: ease-in-out 300ms;
}

app-drawer.app-drawer--opened {
  @apply left-0 w-64;
}

@screen lg {
  app-drawer {
    @apply w-0;
    @apply relative overflow-hidden;
    @apply border-0;
  }

  app-drawer.app-drawer--opened {
    @apply border-r;
  }
}

@screen xl {
  app-drawer {
    @apply left-0 w-64;
    @apply border-r;
  }
}
