<template class.bind="isOpened ? 'app-drawer--opened' : ''">
  <require from="./drawer.component.css"></require>
  <require from="../navigation-link/navigation-link.component"></require>
  
  <div>
    <navigation-link repeat.for="route of router.routes" route.bind="route" is-active.bind="route.navModel.isActive"></navigation-link>
  </div>
</template>
