@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'material-design-icons/iconfont/material-icons.css';

@tailwind base;

body {
  @apply bg-white;
  @apply overflow-hidden;
  @apply text-base text-wet-asphalt font-sans;

  display: grid;

  grid-template-rows: min-content auto;

  grid-template-areas:
    'header'
    'content';
}

app-drawer.app-drawer--opened ~ app-content::before {
  @apply absolute z-10 h-screen w-screen opacity-25;

  content: '';
  top: 0;
  left: 0;
  background-color: #000;
}

@screen lg {
  body {
    grid-template-columns: min-content auto;

    grid-template-areas:
      'drawer header'
      'drawer content';
  }

  app-drawer.app-drawer--opened ~ app-content::before {
    @apply hidden;
  }
}

@screen xl {
}

p {
  @apply text-base mb-2 text-wet-asphalt;
}

h1 {
  @apply font-bold text-2xl mb-3;
}

h2 {
  @apply font-bold text-xl mb-2 mt-2;
}

a {
  @apply text-amethyst underline;
}

table {
  @apply border-collapse;
}

table,
th,
td {
  @apply border border-wet-asphalt;
}

th,
td {
  @apply p-2;
}

@tailwind components;

.article-card {
  @apply px-6 py-4;
}

.article-card code {
  @apply rounded;
}

.article-card > markdown > pre:not(:last-child) {
  @apply mb-3;
}

.link {
  @apply no-underline text-wet-asphalt text-center;
}

.actions__link {
  @apply no-underline flex items-center;

  color: inherit;
}

@tailwind utilities;
