<template>
  <table class.bind="tableClasses">
    <thead class.bind="headerClasses">
        <template replaceable part="header"></template>
    </thead>

    <tbody class.bind="bodyClasses">
      <template replaceable part="body"></template>
    </tbody>
  </table>
</template>
