<template>
  <require from="../tab-header/tab-header.component"></require>

  <header>
    <template replaceable part="header"></template>
  </header>

  <div class="overflow-auto">
    <template replaceable part="content"></template>
  </div>
</template>
