<template>
  <require from="./tab-header.component.css"></require>
  
  <button class="tab-header" class.bind="isActive ? 'active': ''" click.delegate="tabSelector()">
    ${ name }
  </button>
</template>
